<div class="page-header">
    <div class="text-primary" align="center">
        <h1>Twitter Sentiment Analysis</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group has-primary">
            <input ng-model="search" type="text" class="form-control form-control-primary" id="inputSuccess1">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div align="center">
            <button type="button" class="btn btn-primary" ng-click="searchTwitter(search)">Twitter Search</button>
        </div>
    </div>
</div>
<br>
<br>
<div class="col-md-12" ng-repeat="tweet in tweets">
    <div ng-class="{'panel panel-success' : tweet.sentiment.score > 0, 'panel panel-info' : tweet.sentiment.score === 0, 'panel panel-danger' : tweet.sentiment.score < 0}">
        <div class="panel-heading">
            <h3 class="panel-title">{{tweet.user.name}} <a href="https://twitter.com/{{tweet.user.screen_name}}" target="_blank">
            	@{{tweet.user.screen_name}}
            </a></h3>
        </div>
        <div class="panel-body">
            {{tweet.text}}
        </div>
    </div>
</div>